.chart-container {
  background: #202020;
  width: 80%;
  position: fixed;
  overflow-x: hidden;
  top: 10%;
  left: 10%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #262626;
  display: inline-block;
}

::-webkit-scrollbar {
  background: transparent;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: "Arial", Times, serif;
}

.button-row {
  position: relative;
  left: 40%;
  width: 20%;
  height: 4%;
  background: #111111;
  border-radius: 5px;
  margin-bottom: 1em;
  margin-top: 0;
  overflow: hidden;
}

.button-row-element {
  position: relative;
  width: 20%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-family: "Arial", Times, serif;
  display: inline-grid;
  cursor: pointer;
}

.button-row-element-active {
  background: #292929;
}

.button-row-element:hover {
  background: #292929;
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  left: 10%;
  position: absolute;
  height: 17%;
  bottom: 2%;
  gap: 2.5%;
  row-gap: 1em;
  align-content: center;
}

.card-element {
  display: inline-block;
  width: 270px;
  height: 85%;
  background: #232323;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #232323;
  transition: transform .25s ease;
  overflow: hidden;
}

.trade-card {
  background: #0f86ec;
}

.trade-card-h1 {
  text-align: center;
  top: 15%;
  position: relative;
}

.card-element p {
  color: white;
  font-weight: bold;
  font-family: "Arial", Times, serif;
  text-align: center;
  font-size: 1.2em;
}

.card-element h1 {
  color: white;
  font-weight: bold;
  font-family: "Arial", Times, serif;
  text-align: center;
  font-size: 2.3em;
}

.card-element:hover {
  transform: scale(1.2);
}
