.chart-container {
  background: #202020;
  width: 80%;
  position: fixed;
  overflow-x: hidden;
  top: 10%;
  left: 10%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #262626;
  display: inline-block;
}

::-webkit-scrollbar {
  background: transparent;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: "Arial", Times, serif;
}

.button-row {
  position: relative;
  left: 40%;
  width: 20%;
  height: 4%;
  background: #111111;
  border-radius: 5px;
  margin-bottom: 1em;
  margin-top: 0;
  overflow: hidden;
}

.button-row-element {
  position: relative;
  width: 20%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-family: "Arial", Times, serif;
  display: inline-grid;
  cursor: pointer;
}

.button-row-element-active {
  background: #292929;
}

.button-row-element:hover {
  background: #292929;
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  left: 10%;
  position: absolute;
  height: 17%;
  bottom: 2%;
  gap: 2.5%;
  row-gap: 1em;
  align-content: center;
  align-items: center;
}

.card-element {
  display: inline-block;
  width: 270px;
  height: 85%;
  background: #232323;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #232323;
  transition: transform .25s ease;
  overflow: hidden;
}

.trade-card {
  background: #0f86ec;
}

.trade-card-h1 {
  text-align: center;
  top: 15%;
  position: relative;
}

.card-element p {
  color: white;
  font-weight: bold;
  font-family: "Arial", Times, serif;
  text-align: center;
  font-size: 1.2em;
}

.card-element h1 {
  color: white;
  font-weight: bold;
  font-family: "Arial", Times, serif;
  text-align: center;
  font-size: 2.3em;
}

.card-element:hover {
  transform: scale(1.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  color: white;
}

.modal-content {
  background-color: #2B2B2B;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #2B2B2B;
  border-radius: 15px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-row {
  display: flex;
  width: 80%;
  height: 20%;
  align-items: center;
  margin-top: 1em;
}

.modal-input {
  width: 80%;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-family: "Arial", Times, serif;
  font-size: 3em;
  box-shadow: 2px 2px 2px white;
}

.modal-button {
  margin-left: 0.5em;
  width: fit-content;
  font-size: 3em;
  border-radius: 10px;
  border: 2px solid #0f86ec;
  background: #1b94fa;
  color: white;
  font-family: "Arial", Times, serif;
  font-weight: bold;
}

.modal-button-sell {
  border: 2px solid #ec0f16;
  background: #fa1b1b;
}

@media only screen and (max-width: 680px)  {
  .button-row {
    width: 80%;
    position: relative;
    left: 10%;
  }
  .card-element {
    width: 100%;
  }
  .card-grid {
    position: absolute;
    z-index: -1;
  }
}
