.currency-container {
  background: #202020;
  width: 40%;
  height: 80%;
  position: fixed;
  overflow-x: hidden;
  top: 10%;
  left: 5%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #262626;
}

.flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex-personal-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.flex-personal-data-balance {
  order: 0;
  align-self: flex-start;
}

.flex-personal-data-table {
  order: 1;
  align-self: flex-end;
  margin: 1em;
}

h1, h2, h3, h4, h5, h6, p, td {
  color: white;
  font-family: "Arial", Times, serif;
}

td {
  font-weight: bold;
}

tr.space-under>td {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

tr.bordered>td {
  border: 0.5px solid #272727;
}

tr.bordered:hover {
  background: #414141;

}

table {
  width: 100%;
  margin: 1em;
  padding-bottom: 1em;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

::-webkit-scrollbar {
  display: none;
}

.card-heading {
  text-align: center;
}

.trades-container {
  background: #202020;
  width: 40%;
  height: 45%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 45%;
  right: 5%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #262626;
}

.userinfo-container {
  background: #202020;
  width: 40%;
  height: 30%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 10%;
  right: 5%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #262626;
}

.currency-container-element {
  width: 35%;
}

.balance-card {
  position: relative;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 30%;
  background: #232323;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #232323;
  transition: transform .25s ease;
  display: block;
}


.balance-card:hover {
  transform: scale(1.2);
}



.balance-label {
  position: relative;
  font-family: "Arial", Times, serif;
  font-weight: normal;
  font-size: 18px;
  color: white;
  top: 5%;
  left: 5%;
}

.balance-value {
  position: relative;
  top: 30%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Arial", Times, serif;
  font-size: 2em;
}

@media only screen and (max-width: 680px) {
    .currency-container {
      width: 80%;
      left: 10%;
      height: 30%;
      overflow-x: scroll;
    }
    .userinfo-container {
      width: 80%;
      left: 10%;
      top: 45%;
    }

    .trades-container {
      width: 80%;
      left: 10%;
      top: 80%;
      height: 60%;
      position: absolute;
    }
}
