.currency-container {
  background: #202020;
  width: 40%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 10%;
  left: 5%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #262626;
}

h1, h2, h3, h4, h5, h6, p, td {
  color: white;
  font-family: "Arial", Times, serif;
}
td {
  font-weight: bold;
}

table {
  width: 100%;
  overflow-y: scroll;
}


.card-heading {
  text-align: center;
}

.trades-container {
  background: #202020;
  width: 40%;
  height: 45%;
  overflow: hidden;
  position: fixed;
  top: 45%;
  right: 5%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #262626;
}

.userinfo-container {
  background: #202020;
  width: 40%;
  height: 30%;
  overflow: hidden;
  position: fixed;
  top: 10%;
  right: 5%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #262626;
}

.currency-container-element {
  width: 35%;

}
